<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="Base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title ></title>
</head>
<body >
	<section class="banner d-flex justify-content-center align-items-center">
		
		<div class="text-center">
		<h1 class="font-weight-bold">Smart Contact Manager</h1>
		<P> Save your contact in very smart way. We provide very easy and smart 
		way to manage your contacts and their all details.</P>
		<button class="btn btn-primary btn-large" > Get Started</button>
		</div>
	</section>

</body>
</html>